<div class="container">
	<!-- <div class="col-md-12"> -->
		<div class="col-lg-9 pull-left abouttextformat">
			<br>
			<h1 style="line-height: 1.6"><b><span>Blue Games</b> es una plataforma de desarrollo y aprendizaje destinada a niños que sufren Trastornos del Espectro Autista.</span></h1> 
			<ul>
				<li><h3 style="line-height: 1.6">Esta colección de serious games  permiten aumentar y desarrollar las capacidades de las personas insertandolos en un entorno amigable de aprendizaje y conocimiento.</h3></li>
				<li><h3 style="line-height: 1.6">Esta plataforma es el resultado del desarrollo del proyecto <b>Mi mundo azul: Un serious Game para personas con problemas de TEA</b>.</h3></li>
				<li><h3 style="line-height: 1.6">Este proyecto es la propuesta para la materia <b>75.99 Trabajo profesional de Ingeniería en Informática de la Facultad de Ingeniería de la Universidad de Buenos Aires</b>.</h3></li>
			</ul>
			<br><br>
			<button type="btn" class="btn btn-danger btn-lg col-lg-2 pull-right" ng-click="registrarse()"><b>Registrarse</b></button>
		</div>
		
	
</div>