<div class="container center">
	<!-- <div class="col-md-12"> -->
		<div class="col-lg-9 pull-left abouttextformat">
			<h1 style="line-height: 1.6"><b><span>Blue Games (<i class="fa fa-trademark" aria-hidden="true"></i>) es una plataforma de desarrollo y aprendizaje destinada a niños que sufren Trastornos del Espectro Autista.</span></b></h1> 
			<h3 style="line-height: 1.6"><b>Esta colección de serious games  permiten aumentar y desarrollar las capacidades de las personas insertandolos en un entorno amigable de aprendizaje y conocimiento.</b></h3>
			<br><br>
			<button type="btn" class="btn btn-danger btn-lg col-lg-2 pull-right" ng-click="registrarse()">Registrarse</button>
		</div>
		
	
</div>