<div class="container center">
	<div class="logintextformat">
		<h2>Blue Games (<i class="fa fa-trademark" aria-hidden="true"></i>) es una plataforma de desarrollo y aprendizaje destinada a niños que sufren Trastornos del Espectro Autista.</h2> 
		<h3>Esta plataforma contiene una colección de serious games que mediante el cumplimiento de distintos objetivos, permiten aumentar y desarrollar las capacidades de las persona insertandolos en un entorno amigable de aprendizaje y conocimiento y mediante el cual los padres podrán utilizarlo como complemento y sentirse seguros y acompañados en el tratamiento diario de sus hijos.</h3>
	</div>
</div>