<div class="container servicetextformat  animated fadeIn">
	<div class="col-md-6 pull-right">
		<h1>Obtenga y disfrute <b>Blue Games</b></h1>
		<hr  style=" border-width: 1px; border-style: solid; border-color: #fff;">
		<h3><b>No conoce Blue Games?</b></h3>
		<h4>Registrese gratis en la plataforma y disfrute de la experiencia única de la excelente colección de juegos de prueba que <b>Blue Games</b> tiene para ofrecerle.</h4>
		<br>
		<button type="btn" class="btn class=btn btn-default btn-lg pull-right" ng-click="registrarse()"><b>Registrese ahora!</b></button>
		<br><br>
		<h3><b>Ya es miembro de Blue Games?</b></h3>
		<h4>Acceda fácilmente a una de nuestras cuentas <b>Premium</b> y disfrute de los mejores beneficios que esta plataforma le ofrece:</h4>
		<ul>
			<li><h4>Acceso total a todos los juegos disponibles de la plataforma.</h4></li>
			<li><h4>Posibilidad de guardar los avances de logrados de cada partida.</h4></li>
			<li><h4>Posibilidad de guardar los avances de logrados de cada juego.</h4></li>
			<li><h4>Acceso libre al módulo de estadísticas y consejos para el entrenamiento.</h4></li>
			<li><h4>Recepción diaria de las últimas novedades sobre juegos relacionados al TEA.</h4></li>
			<li><h4>Y mucho mas ...</h4></li>
		</ul>
		<br>
		<button type="btn" class="btn class=btn btn-default btn-lg pull-right" ng-click="premium()"><b>Cuenta Premium</b></button>
	</div>
</div>
